.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s ease-in-out;
  height: 60px;
}

.App-header {
  background-color: #222;
  min-height: 10vh;
  color: white;
  margin: 0px;
  padding-top: 25px;
}

.App-body {
  margin-top: 5vh;
  text-align: center;
}

.App-footer {
  text-align: center;
  font-size: 25px;
  min-height: 10vh;
  margin-top: 45px;
  border: 2px;
  border-color: black;
  background-color: green;
  line-height: 80px;
  }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
