.App {
  text-align: center;
}

.App-logo {
  max-height: 15px;
}

.App-header {
  background-color:black;
  min-height: 20vh;
  color: white;
  margin: 0px;
  padding-top: 25px;
  padding: 50px;
  display: inline;

}

.App-body {
  text-align: center;
  background-color: blue;
  min-height: 50vh;
  width: 100%;
  display: inline-block;
}



.App-footer {
  text-align: center;
  font-size: 25px;
  min-height: 20vh;
  display: inline-block;
  width: 100%;
  border: 8px;
  border-color: black;
  background-color:black; 
  color: purple;
  line-height: 140px;
  }
