.App {
  text-align: center;
}

.App-header {
  color: white;
  display: inline;
  text-align: center;
  padding: 25px;
}

.App-body {
  text-align: center;
  background-color: blue;
  min-height: 60vh;
  width: 100%;
  display: inline-block;
  padding: 15px;
}

.App-footer {
  text-align: center;
  font-size: 25px;
  min-height: 20vh;
  display: inline-block;
  width: 100%;
  border: 8px;
  border-color: black;
  background-color:black; 
  color: purple;
  line-height: 140px;
  }
