.App {
  text-align: center;
}

.App-header {
  color: white;
  display: inline;
  text-align: center;
  padding: 5px;
}

.App-body {
  text-align: center;
  background-color:#03B5AC;
  width: 100%;
  display: inline-block;
  padding: 5px;
}

.App-footer {
  text-align: center;
  font-size: 35px;
  min-height: 20vh;
  display: inline-block;
  width: 100%;
  background-color:#201F20; 
  /* color: purple; */
  line-height: 140px;
  margin-bottom: 0;

  }

  .wrapper {
    margin: 0px;
    padding: 0px;
  }
