body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url("commetbackground.png" );
  background-repeat: no-repeat;
  background-size: cover; */
  background: linear-gradient(to right, #0000cc 18%, #9966ff 100%);
}
