.hiddenValue {
    display: none;
}

.submitNewPost {
    text-align: center;
    margin: 15px;
}

.formItem {
    display: inline-block;
}

.descriptionBox {
    display: inline;
}

.makePostPageBox {
margin: 55px;
}

.formLabel {
    font-weight: bolder;
}

.makePostTitle {
    display: inline;
    margin: 35px;
    font-weight: bold;
}

