.hideMe {
    display: none;
}

.homepageToggleBar {
  width: 80%;
  margin: auto;
}

.signupform-input {
  margin: 35px;
  margin-bottom: 5px;
}

.pageToggleButton {
  width: 400px;
  padding: 1vh;
  margin-bottom: 15px;
  background-color: rgb(19, 203, 228);
  color: white;
  padding: 14px 40px;
  border: 2px solid white;
  border-radius: 12px;
}

.signupSpacer {
    padding: 3px;
    background-color: white; 
    border-radius: 15px;
    margin: 0px;
    display: inline-block;
    width: 80%;
}

button.submitButton {
  margin: 2vh;
  padding: 20px;
  border-radius: 12px;
  background-color:#B02070;
  color: white;
  padding: 14px 40px;
  border: 2px solid white;
}

P.alreadyMember {
 display: inline-block;
 font-size: 25px;
  }

input.form-control {
      background-color:rgba(19, 203, 228,0.2);
      border: 2px solid rgb(19, 203, 228);
      padding: 15px;
      display: inline-block;
      margin-bottom: 10px;
      border: none;
  }

.homeTitles {
  display: inline;
  color: black;
  }

.landingBar {
  background-color: white;
  font-size: 3vh;
  }
