.hideMe {
    display: none;
}

.signupSpacer {
    width: 80%;
    margin: auto;
}

.signupBody {
    background-color: lightblue;
    min-height: 20vh;
    font-size: calc(5px + 2vmin);
    color: black;
    padding: 15vh;
    margin: 5vh;
    line-height: 5vh;
  }

P.alreadyMember {
 display: inline-block;
 margin: auto;
 padding-left: 20vh;
 font-size: 25px;
  }

input.form-control {
      margin-left: 15px;
  }