.landingBar {
    text-align: center;
    padding: 5px;
}

.landingTitle {
    font-size: 5vh;
    display: inline-block;
    text-align: center;
}

.landingChoice {
    font-size: 22px;
    text-align: center;
    margin-bottom: 45px;
    width: 100%;
    background-color: white;
    padding: 15px;
}

.landingBody {
    font-size: 18px;
}

.landingInfo {
    display: inline;
}



