.searchInputForm {
    display: inline;
}

.formItem {
    margin: 1px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 4px;
    text-align: center;
}

.formLabel {
    margin-right: 5px;
    margin-left: 5px;
    padding: 0px;
    margin: 1px;
}

.searchSubmit {
    margin-right: 5px;
    margin-left: 5px;
    margin: 1px;
}

.searchResultsBody {
    min-height: 50vh;
}