
.formLabel {
    display: inline-flex;  
    float: left;
    padding-right: 25px;
    padding-left: 25px;
}

.formItem {
    display: flex;
    padding-right: 25px;
    padding-left: 25px;
    float: left;
}

.pageSplit {
    border-width: 30px;
    margin-top: 8vh;
    width: 100%;
}