.searchInputForm {
    display: inline-block;
    padding: 5px;
    margin: 12px;
}

.formItem {
    margin-right: 25px;
}

.formLabel {
    margin-right: 25px;
}

.searchResultsBody {
    min-height: 40vh;
}