.logomap {
    max-width: 400px;
    padding: 25px;
    margin: 5px;
}

.p {
    color: white;
}

.siteTitle {
    color: white;
    padding: 25px;
}


.adressComet {
background-color: rgba(255,255,255,0.5);
}

.deets {
    text-align: left;
    padding: 5px;
    margin: 15px;
    line-height: 35px;
}