  ul.App-navbar {
    border-style: inset;
    padding: 15px;
    position: static;
    background-color:#3B3E96;
    min-height: 20vh;
    font-size: calc(12px + 2vmin);
    color: white;
    text-transform: uppercase;
    border: none;
  }

  li.menuLink {
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-flex;
    position: inherit;
    font-size: calc(16px + 2vmin);
  }

  img.logo {
    width: 100px;
    background-color: white;
  }
  
  A:hover.logo { text-decoration: none; }

  A.menuLink { color: white }

  A:link.menuLink { text-decoration: none; padding: 15px;}

  A:active.menuLink { text-decoration: none; }

  A:hover.menuLink { color: violet; text-decoration: none; }
